---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Page Not Found" description="Page not found">
  <div class="py-6">
    <h1
      class="font-heading mb-6 text-2xl font-bold text-gray-900 dark:text-white"
    >
      404: Page Not Found 😦
    </h1>
    <p class="mb-6 text-gray-700 dark:text-gray-300">
      Looks like you've ventured into the cosmic void. The page you're looking
      for doesn't exist.
    </p>
    <a href="/" class="link-highlight text-gray-600 dark:text-gray-300">
      Return to Home
    </a>
  </div>
</Layout>
