---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Icon } from "astro-iconify";
import { SITE } from "@config";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <Main
    pageTitle="About"
    pageDesc="Props to the awesome projects and services below that make it possible to build and host this site for free"
  >
    <div
      class="grid grid-cols-2 justify-between gap-12 p-4 sm:grid-cols-3 sm:gap-16"
    >
      <div class="grid justify-items-center">
        <div>
          <a href="https://github.com" title="GitHub">
            <Icon name="mdi:github" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Built on GitHub</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://astro.build" title="Astro">
            <Icon name="logos:astro-icon" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Written in Astro</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://www.typescriptlang.org" title="TypeScript">
            <Icon name="logos:typescript-icon-round" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Coded in TypeScript</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://tailwindcss.com" title="Tailwind">
            <Icon name="devicon:tailwindcss" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Styled with Tailwind</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://github.com/satnaing/astro-paper" title="AstroPaper">
            <Icon name="mdi:paper-text-outline" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Based on AstroPaper</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://react.dev" title="React">
            <Icon name="logos:react" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Enhanced with React</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://eslint.org" title="ESLint">
            <Icon name="logos:eslint" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Linted with ESLint</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://prettier.io" title="Prettier">
            <Icon name="logos:prettier" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Formatted with Prettier</div>
      </div>
      <div class="grid justify-items-center">
        <div>
          <a href="https://vercel.com" title="Vercel">
            <Icon name="devicon:vercel-wordmark" class="h-16 w-16" />
          </a>
        </div>
        <div class="pt-4 text-center">Deployed on Vercel</div>
      </div>
    </div>
  </Main>
  <Footer />
</Layout>
