---
import { SITE } from "@/consts";
import Layout from "../layouts/Layout.astro";
import Wave from "@/components/Wave.astro";
import { getAllPosts } from "@/utils/data-utils";
import PostList from "@/components/PostList.astro";
import Gradient from "@/components/Gradient.astro";

const posts = (await getAllPosts()).slice(0, 3);
---

<Layout description={SITE.description}>
  <div class="py-6">
    <h1 class="font-heading text-2xl font-bold text-gray-900 dark:text-white">
      <Gradient>Hey there, I'm Alex</Gradient>
      <Wave classes="text-3xl" />
    </h1>
    <p class="mt-4 text-gray-600 dark:text-gray-300">
      I'm a VP and Software Architect based in Brisbane, Australia, with a focus
      on AI, distributed systems, and cloud-native applications. Over the
      years, I've worked across the medical, manufacturing, MMM, and AEC
      industries. I'm passionate about technology, always learning, and enjoy
      contributing to open source projects.
    </p>
    <section class="mt-10">
      <h1
        class="font-heading mb-4 text-2xl font-bold text-gray-900 dark:text-white"
      >
        <Gradient>Recent Posts</Gradient>
      </h1>
      <PostList posts={posts} />
    </section>
  </div>
</Layout>
