---

---

<span
  class="dark:from-highlight-dark from-highlight-light via-highlight-light/80 to-highlight-light bg-linear-to-r bg-clip-text text-transparent dark:via-[#c08b3f] dark:to-[#dcb047]"
>
  <slot />
</span>
