---
import { SITE } from "@/consts";
import SocialIcons from "./SocialIcons.astro";
import MenuItem from "./MenuItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
import MenuToggle from "./MenuToggle.astro";
---

<header class="relative z-10 w-full border-b border-slate-200 dark:border-none">
  <!-- Banner -->
  <div
    class="h-48 w-full bg-cover bg-center"
    style="background-image: url('/banner.webp');"
  >
    <div
      class="relative flex h-full w-full flex-col items-center justify-center bg-black/30"
    >
      <!-- Site title -->
      <a href="/">
        <h1
          class="font-heading hover:text-highlight-dark text-3xl font-bold text-white drop-shadow-lg transition-colors duration-200 sm:text-4xl"
        >
          {SITE.title}
        </h1>
      </a>
      <!-- Social icons -->
      <div
        class="mt-3 flex items-center space-x-3 text-xl text-gray-300 sm:text-2xl"
      >
        <SocialIcons />
      </div>
    </div>
  </div>
  <!-- Logo -->
  <div class="relative mx-auto max-w-7xl">
    <div class="absolute left-4 -translate-y-1/2 transform sm:left-6 lg:left-8">
      <a href="/" class="cursor-pointer">
        <img
          src="/logo.webp"
          alt="Logo"
          class="h-32 w-32 rounded-full border-3 border-gray-50 object-cover dark:border-gray-900"
        />
      </a>
    </div>
  </div>
  <!-- Navigation bar -->
  <div>
    <div
      class="mx-auto flex max-w-7xl items-center justify-between px-4 py-4 sm:px-6 lg:px-8"
    >
      <div class="flex-1"></div>

      <!-- Mobile menu buttons -->
      <div class="flex items-center space-x-3 sm:hidden">
        <ThemeToggle id="theme-toggle-mobile" />
        <MenuToggle id="menu-toggle" />
      </div>

      <!-- Desktop navigation -->
      <div class="hidden items-center space-x-6 sm:flex">
        <nav class="flex space-x-6">
          <MenuItem href="/posts" icon="post" text="Posts" />
          <MenuItem href="/tags" icon="tag" text="Tags" />
          <MenuItem href="/rss.xml" icon="rss" text="RSS" target="_blank" />
        </nav>
        <ThemeToggle id="theme-toggle" />
      </div>
    </div>

    <!-- Mobile navigation menu (hidden by default) -->
    <div
      id="mobile-menu"
      class="hidden bg-white px-4 py-4 sm:hidden dark:bg-gray-800"
    >
      <nav class="flex flex-col space-y-6">
        <MenuItem href="/posts" icon="post" text="Posts" />
        <MenuItem href="/tags" icon="tag" text="Tags" />
        <MenuItem href="/rss.xml" icon="rss" text="RSS" target="_blank" />
      </nav>
    </div>
  </div>

  <script>
    // Mobile menu toggle functionality
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuToggle && mobileMenu) {
      menuToggle.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });
    }
  </script>
</header>
