---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  icon: string;
  text: string;
  target?: string;
}

const { href, icon, text, target = "_self" } = Astro.props;
---

<a
  href={href}
  target={target}
  class="font-heading hover:text-highlight-light dark:hover:text-highlight-dark flex items-center font-bold text-gray-700 transition-colors duration-200 dark:text-gray-300"
>
  <Icon name={icon} class="mr-3 text-xl" />
  {text}
</a>
