---
import type { CollectionEntry } from "astro:content";
import PostDetail from "./PostDetail.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-6 border-b border-gray-200 pb-6 last:mb-0 last:border-0 last:pb-0 dark:border-gray-700">
        <h2 class="font-heading mb-3 text-xl font-semibold text-gray-900 dark:text-white">
          <a
            href={`/posts/${post.id}`}
            class="hover:text-highlight-light dark:hover:text-highlight-dark transition-colors duration-200"
          >
            {post.data.title}
          </a>
        </h2>
        <PostDetail post={post} />
      </li>
    ))
  }
</ul>
