---
import type { CollectionEntry } from "astro:content";
import PostDetail from "./PostDetail.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="cyber-card mb-5 last:mb-0">
        <h2 class="font-heading mb-3 text-xl font-semibold text-[#123845] dark:text-[#def6f3]">
          <a href={`/posts/${post.id}`} class="link-highlight">
            {post.data.title}
          </a>
        </h2>
        <PostDetail post={post} />
      </li>
    ))
  }
</ul>
