---

---

<div
  class="prose dark:prose-invert prose-headings:text-gray-900 dark:prose-headings:text-white prose-headings:font-heading prose-a:text-teal-600 dark:prose-a:text-teal-400 prose-img:rounded-lg prose-code:font-code max-w-none wrap-anywhere"
>
  <slot />
</div>
