---
export interface Props {
  name: string;
  size?: "sm" | "lg";
  count?: number;
}
const { name, size = "sm", count } = Astro.props;
---

<a
  href={`/tags/${name.toLowerCase()}`}
  class={`${
    size === "sm" ? "text-sm" : "text-md"
  } pr-2 relative hover:text-skin-accent focus-visible:p-1`}
>
  <div class="flex flex-wrap justify-center space-x-2">
    <span
      class="align-center ease flex w-max cursor-pointer rounded-lg border px-3 py-1 transition duration-300"
    >
      {name.toLowerCase()}{
        count && <span class="ml-2 opacity-50">({count})</span>
      }
    </span>
  </div>
</a>
