---
interface Props {
  tags?: string[];
}

const { tags } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <>
      <span class="mx-2">•</span>
      <div class="flex flex-wrap gap-2">
        {tags.map((t) => (
          <a
            href={`/tags/${t}`}
            class="bg-interactive px-2 py-1 text-xs text-gray-700 dark:text-gray-300"
          >
            {t}
          </a>
        ))}
      </div>
    </>
  )
}
